@model Quitr2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="article">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <br />

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
            @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
        </div>
        <br />

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__input" })
        </div>

        <div class="form-group">
            <input type="submit" value="Register" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="background:#e8997d;" />
        </div>

    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
