@model Quitr2.Models.Home.HomeModel

@{
    ViewBag.Title = "Quitr";
}


<div class="placeholder">

    

    
    <div class="flexbox">
        <center>
            <div class="frontpage-logo">
                <t style="color:#e8997d; font-size:105px; z-index:-1; margin-right:-8px; padding-top:2px;">Q</t>uitr.net
            </div>
  <br />
            <div class="frontpage-logo-byline">Currently helping @Model.totalCounters persons quit their bad habits!</div>
        
        </center>
        <br />

        @*<hr />*@
    
        <div class="article">
            <p>
                <b>Welcome!</b><br /><br />
                Quitr.net is a free micro-service aimed at those who like to get rid of an addiction. The personal counter currently supports snus (swedish dip) and cigarettes, including facebook sharing and feedback.
                <br>
                Quitr.net is being developed as a hobby-project, and was concieved by Magnus Eldén to game himself out of his nicotine addiction.<br>
            <br />Our small but constantly growing community have so far saved up on:<br />


            </p>
            <div class="startflexbox">
                <div class="startflex">
                    @Model.totalSnus snus portions<br />
                    not taken
                </div>
                <div class="startflex">
                    @Model.totalCig cigarettes<br />
                    not smoked
                </div>
                <div class="startflex">
                    @Model.savings.ToString("# ##0") SEK<br />
                    Saved
                </div>
            </div>
            <br />
            <p>
                <center style="font-size:16px;">
                    Are you also ready to quit?<br /> @Html.ActionLink("Let's start >>", "Login", "Account")
                </center>    
    </p>
            <div class="frontpage-hashtags">#quitr #beaquitr</div>
        </div>
        



    </div>



</div>
